@import "tailwindcss";

@theme {
  --color-primary-50: #f0f4f8;
  --color-primary-100: #d9e4ee;
  --color-primary-200: #b6cadc;
  --color-primary-300: #8aaac5;
  --color-primary-400: #6088ab;
  --color-primary-500: #426b91;
  --color-primary-600: #315378;
  --color-primary-700: #294462;
  --color-primary-800: #0F3A67; /* Azul Principal (Marca) */
  --color-primary-900: #0B2A4A; /* Deep Background */
  --color-primary-950: #07192e;

  --color-secondary-50: #f0fdfb;
  --color-secondary-100: #ccfbf4;
  --color-secondary-200: #99f6e9;
  --color-secondary-300: #5eead9;
  --color-secondary-400: #2FD1C3; /* Cyan Tech (Acento) */
  --color-secondary-500: #1fb5a8; /* Cyan Oscuro (Profundidad) */
  --color-secondary-600: #139188;
  --color-secondary-700: #12746e;
  --color-secondary-800: #125c58;
  --color-secondary-900: #134d4a;
  --color-secondary-950: #072e2d;
}

@layer base {
  body {
    background-color: #F8FAFC; /* App Background */
    color: #0F3A67; /* Default text color mapping to primary-800 */
  }
}
